<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>

<body>
  <h1>Blog</h1>

  <% for(let i = 0; i < posts.length; i++) { %>
  <article>
    <p><%= i %><%= posts[i].description %></p>
  </article>
  <% } %>

  <hr>
  <h2>Add Blog</h2>

  <form action="/posts" method="POST">
    <span>Title</span>
    <input type="text" name="title" id="title">
    <span>Description</span>
    <textarea name="description"></textarea>
    <input type="submit" value="Add Post" />
  </form>
</body>

</html>