<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>

<body>

  <h1>Add Blog</h1>

  <form action="/posts/upload" method="POST">
    <span>Title</span>
    <input type="text" name="title" id="title">
    <span>Description</span>
    <textarea name="description"></textarea>
    <input type="submit" value="Add Post" />
  </form>
  <hr>
  <h1>Blog</h1>

  <% for(let i = 0; i < posts.length; i++) { %>
  <article>
    <h4><%= i+1 %> <%= posts[i].title %></h4>
    <p><%= posts[i].description %></p>
  </article>
  <% } %>
</body>

</html>